body{
margin-top: 15%;
margin-left: 25%;
margin-right: 15%;
border: 10px solid black;
text-align: center;
background-color: beige;
}

.outerRim{
  border: 10px solid #350d29;
  background-color: #ffecdf;
}

.weatherRim{
  background-color: #ffdad1;
}

.bunnyy{
  image-rendering: pixelated;
}
